* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #141414; /* fundo escuro estilo Netflix */
  color: #FFF; /* texto branco padrão Netflix */
}

.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
